body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.demo-page-title {
  text-align: center;
}

.demo-images-list {
  list-style: none;
  padding: 0;
  margin: auto;
  width: 900px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.demo-images-list > li {
  margin: 10px;
  width: 150px;
  height: 150px;
}

.demo-images-list > li > a {
  display: block;
  opacity: 1;
}

.demo-images-list > li > a:hover {
  opacity: 0.9;
}
